@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(27, 25, 25, 0.967);

}
@layer base {
  * {
    outline: none !important;
  }
 

  @font-face {
    font-family: DancingScript-Bold;
    src: url('../fonts/DancingScript-Bold.ttf');
  }
  @font-face {
    font-family: Calistoga-Regular;
    src: url('../fonts/Calistoga-Regular.ttf');
  }

  @font-face {
    font-family: IndieFlower-Regular;
    src: url('../fonts/IndieFlower-Regular.ttf');
  }

  @font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/DancingScript-Medium.ttf");
  }

  ::-webkit-scrollbar {
    background: #111;
    width: 10px;
  }
  ::-webkit-scrollbar-button {
    background: #111;
  }

  ::-webkit-scrollbar-thumb {
    background:#598C08;
    border-radius: 3rem;
  }



  
}
